<%- include("templates/header") %> 
    <form action='/signup' method='get'>
        <button>Sign Up</button>
    </form>
    <br>
    <form action='/login' method='get'>
        <button>Log In</button>
    </form>
<%- include("templates/footer") %> 
