<%- include("templates/header") %> 
    <style>
    table, th, td {
      border:1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 10px;
    }
    </style>
    You are logged in as, <%= username %>
    <br>
    <br>
    <table>
        <tr>
            <th>#</th>
            <th>Description</th>
        </tr>
        <% let i=0; %>
		<% for(i=0; i < todo.length; i++) { %>
        <%- include('templates/todo', {todo: todo[i], number: i})  %> 
        <% } %> 
    </table>
    <br>
    <div>
        <form action='/addList' method='post'>
            <input name='desc' type='text' placeholder='What needs to be done?'>
            <button>Add</button>
        </form>
    </div>
<%- include("templates/footer") %> 
